<a href="https://colab.research.google.com/github/SaeedAkhtar1/FDS_Lab/blob/main/ExpA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exp A1. In second year computer engineering class, group A studentâ€™s play cricket, group B
students play badminton and group C students play football.
Write a Python program using functions to compute following: -

a) List of students who play both cricket and badminton

b) List of students who play either cricket or badminton but not both

c) Number of students who play neither cricket nor badminton

d) Number of students who play cricket and football but not badminton.

*(Note- While realizing the group, duplicate entries should be avoided, Do not use SET
built-in functions)*

In [2]:
group_A = ["Aman", "Sana", "Raj", "Fatima", "Aman"]  # Students playing cricket (group A)
group_B = ["Sana", "Zara", "Fatima", "Ali", "Sana"]  # Students playing badminton (group B)
group_C = ["Raj", "Ali", "Imran", "Sara", "Raj"]  # Students playing football (group C)

In [3]:
# Function to remove duplicates from a list
def remove_duplicates(group):
    unique_group = []
    for student in group:
        if student not in unique_group:
            unique_group.append(student)
    return unique_group

In [4]:
# Function to find intersection of two lists (students who play both cricket and badminton)
def intersection(group1, group2):
    result = []
    for student in group1:
        if student in group2 and student not in result:
            result.append(student)
    return result

In [5]:
# Function to find symmetric difference of two lists (students who play either cricket or badminton but not both)
def symmetric_difference(group1, group2):
    result = []
    for student in group1:
        if student not in group2 and student not in result:
            result.append(student)
    for student in group2:
        if student not in group1 and student not in result:
            result.append(student)
    return result

In [6]:
# Function to find students who play neither cricket nor badminton
def play_neither_cricket_nor_badminton(all_students, group_A, group_B):
    result = []
    for student in all_students:
        if student not in group_A and student not in group_B:
            result.append(student)
    return len(result)

In [7]:
# Function to find students who play cricket and football but not badminton
def play_cricket_and_football_not_badminton(group_A, group_C, group_B):
    result = []
    for student in group_A:
        if student in group_C and student not in group_B and student not in result:
            result.append(student)
    return len(result)

In [8]:
# Remove duplicates from each group
group_A = remove_duplicates(group_A)
group_B = remove_duplicates(group_B)
group_C = remove_duplicates(group_C)

In [9]:
# Universal list of all students in all groups
all_students = group_A + group_B + group_C
all_students = remove_duplicates(all_students)

In [10]:
# Display results
print("a) Students who play both cricket and badminton:", intersection(group_A, group_B))

print("b) Students who play either cricket or badminton but not both:", symmetric_difference(group_A, group_B))

print("c) Number of students who play neither cricket nor badminton:",
      play_neither_cricket_nor_badminton(all_students, group_A, group_B))

print("d) Number of students who play cricket and football but not badminton:",
      play_cricket_and_football_not_badminton(group_A, group_C, group_B))

a) Students who play both cricket and badminton: ['Sana', 'Fatima']
b) Students who play either cricket or badminton but not both: ['Aman', 'Raj', 'Zara', 'Ali']
c) Number of students who play neither cricket nor badminton: 2
d) Number of students who play cricket and football but not badminton: 1